<p>
<div>
  <strong>First participant:</strong>
  <%= @first_participant.participant %>
</div>
<div>
  <strong>Second participant:</strong>
  <%= @second_participant.participant %>
</div>
<div>
  <strong><%= @first_participant.participant %></strong>
</div>
<div>
  win
  <%= @result[0] %> times
</div>
<div>
  lose
  <%= @result[1] %> times
</div>
<div>tie
  <%= @result[2] %> times
</div>
</p>